.heroText {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.heroText h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.heroText span {
    color: #FAC402;
    font-weight: 100;
}