.SideNav{
    position: fixed;
    left: 10px;
    top:150px;
    background-color: #232222;
    height: 65vh;
    padding: 25px;
    border-radius: 10px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.NavIcon{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icon {
    scale: 1.5;
    color: #B3B3B3;
}