ul{
    list-style: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2E2C2C;
}

.MainDiv{
  width: 90%;
  height: 75vh;
  background-color: #232222;
  margin-top: 150px;
  margin-left: 93px;
  border-radius: 10px;
}