@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

ul{
    list-style: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2E2C2C;
  font-family: "Manrope";
  color: white;
}

.MainDiv{
  width: 93%;
  height: 75vh;
  background-color: #232222;
  margin-top: 130px;
  margin-left: 93px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  clip-path: polygon(
    0 0, 
    100% 0, 
    95% 100%, 
    0% 100%)
}

h1 {
  color: white;
  font-family: sans-serif;
  width: 300px;
  margin-left: 70px;
  margin-top: 100px;
  font-size: 40px;
}

.heroText{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

.btn{
    background-color: #FAC402;
    color: black;
    padding: 10px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    width: 150px;
    margin-left: 70px;
    margin-top: 70px;
    font-size: 15px;
    font-weight: bold;
}


.filterTitle{
 font-size: 35px;
 margin-bottom: 20px;
 display: flex;
 align-items: center;
 gap: 10px;
}

.filterTitle::before{
  content: '';
  height: 40px;
  width: 4px;
  background-color: #FAC402;
  display: flex;
  border-radius: 1px;
}

.Cat{
 font-size: 25px;
 margin-bottom: 10px;

}

.CatTitle{
 font-size: 20px;
}

.filterSection{
   padding-left: 150px;
   padding-top: 20px;
   color: white;
   box-sizing: border-box;
   font-family: "Manrope";
   margin-bottom: 20px;
}

.Cards{
  padding-left: 150px;
  width: 95vw;
  overflow: hidden;
  height: auto;
  margin-bottom: 100px;
}

.slideCarousel{
  overflow-y:auto;
  scrollbar-width: none;
  display: flex;
  gap: 20px;
  height: auto;
  background-color: #5c5b5b2c;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: 15px;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}