@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Julius+Sans+One&display=swap');

.MainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 6%;
    width: 80%;
    padding-left: 85px;
    padding-right: 85px;
    background-color: #232222;
    padding:10px;
    border-radius:10px ;
}

.btn{
    background-color: #FAC402;
    color: black;
    padding: 5px;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

.leftNavSide{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-top: 8px;
}

.searchInput{
    background-color: #504C4C;
    color: white;
    padding: 5px;
    border-radius: 8px;
    border: none;
}

.logoDiv{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logoOne{
    height: 35px;
    width: 35px;}

.logoText{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family:"Julius Sans One";
    letter-spacing: 3px;
    margin-top: 8px;
}
